# =============================================================================
# Multi-Domain Lakehouse – Environment Variables Sample
# =============================================================================
# This file contains all credentials which must be set for the application to work
# with sample credentials being provided
# =============================================================================

# ------------------ MinIO / S3 ------------------
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_ENDPOINT_URL=http://minio:9000
AWS_REGION=us-east-1
AWS_S3_FORCE_PATH_STYLE=true
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=http://minio:9000

# ------------------ Superset ------------------
SUPERSET_SECRET_KEY=supersetSecretKey123
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@gmail.com

# ------------------ Airflow ------------------
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@lakehouse.com
AIRFLOW_SECRET_KEY=lakehouse_secret_key_123
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow

# ------------------ Postgres (Airflow Backend) ------------------
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# ------------------ dbt ------------------
DBT_PROFILES_DIR=/usr/app/dbt
DBT_LOG_PATH=/usr/app/tmp/dbt_logs
DBT_TARGET_PATH=/usr/app/tmp/dbt_target