#***NOTE***
#CHANGE ALL ACCESS CREDENTIALS TO USE ENVIRONMENT VARIABLES
#OR YOUR OWN CONFIGURED CREDENTIALS

multi_domain_lakehouse:
  target: dev
  outputs:
    dev:
      type: duckdb
      path: ":memory:" # DuckDB runs in memory — reads directly from MinIO
      extensions:
        - delta
        - httpfs
      settings:
        s3_region: us-east-1
        s3_access_key_id: minioadmin
        s3_secret_access_key: minioadmin
        s3_endpoint: localhost:9000
        s3_use_ssl: false
        s3_url_style: path

    prod:
      type: duckdb
      path: ":memory:"
      extensions:
        - delta
        - httpfs
      settings:
        s3_region: us-east-1
        s3_access_key_id: minioadmin
        s3_secret_access_key: minioadmin
        s3_endpoint: localhost:9000
        s3_use_ssl: false
        s3_url_style: path


